body 

{
    font-family: 'Roboto', sans-serif;
    background-color: #0f0c25;
    color: #fff;
}

a {
    text-decoration: none;
    color: rgb(163, 76, 76); 
}

#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.name input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-bottom: 15px;

}

.name input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-bottom: 15px;
}

.Usuario input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
}

.senha input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-top: 15px;
}

.entrar input {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(160, 124, 124);
    color: #141414;
}
input::placeholder{
     color: rgb(196, 196, 211)
}
h1{
    color: #fafafa;

}

.caixa{
    margin-top: 65px;

}

body {
    background-image: url(../img/wp9081365.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center center;
}
input:focus{
outline: none;
}
